@{
    ViewBag.Title = "Tuấn Gia Minh | Chính sách vận chuyển";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    ViewBag.Description = "CÔNG TY TNHH TM TUẤN GIA MINH - Cung cấp thiết bị xây dựng, thiết bị công nghiệp, dụng cụ cầm tay, máy hàn, máy mài góc, máy cắt kim loại, dụng cụ đo chính xác, dụng cụ điện...";
}

@section LeftMenu{
    @Html.Partial("~/Views/Partial/LeftMenu.cshtml")
}
<h1 style="text-align: center;color: white ; font-size: 20px; padding-top: 0; background-color: #30454A; margin-top: 0; margin-bottom: 5px; height: 35px; line-height: 1.6;">Chính sách vận chuyển</h1>
<h4>1. PHẠM VI ÁP DỤNG</h4>
<p class="col-lg-12">Tất cả các khách hàng mua sản phẩm tại Website  hoặc khách hàng đến trực tiếp xem và mua hàng tại công ty có nhu cầu giao hàng trực tiếp tại nhà. </p>
<h4>2. HÌNH THỨC ÁP DỤNG</h4>
<p class="col-lg-12">Đối với những đơn hàng trị giá trên 1.000.000 VNĐ có địa điểm giao hàng trong nội thành TPHCM, Bình Dương, chúng tôi sẽ miễn cước vận chuyển đến địa chỉ nhận hàng (không bao gồm các chi phí phát sinh liên quan theo yêu cầu của người mua)</p><br />
<p class="col-lg-12">Đối với các đơn hàng trị giá dưới 1.000.000 VNĐ hoặc các đơn hàng có địa chỉ giao hàng ở ngoại thành TP.HCM, Bình Dương và liên tỉnh, chúng tôi sẽ thu phí vận chuyển trên mỗi đơn hàng tùy vào giá trị và quãng đường vận chuyển của mỗi đơn hàng.</p> <br />
<p class="col-lg-12">Trường hợp Quý khách ở ngoại thành Tp.HCM và các tỉnh chưa cần thiết phải nhận hàng gấp trong khoảng thời gian 48h, chúng tôi sẽ cung cấp cho Quý khách một mức giá vận chuyển nhanh và tiết kiệm hơn. Vui lòng liên hệ chúng tôi để biết thêm chi tiết.</p> <br />
<h4>3. THỜI GIAN GIAO HÀNG</h4>
<p class="col-lg-12">Đối với đơn đặt hàng trước 15h và giao trong nội thành Tp.HCM chúng tôi sẽ tiến hành giao hàng trong thời gian tối đa 3 tiếng kể từ lúc xác nhận đơn hàng. Nếu đơn hàng được đặt sau 15h chúng tôi sẽ giao hàng trước 12h sáng ngày hôm sau (trừ những trường hợp có thỏa thuận hoặc yêu cầu khác giữa Quý khách và nhân viên chúng tôi.)</p><br />
<p class="col-lg-12">Đối với các đơn hàng có địa điểm giao hàng ở ngoại thành Tp.HCM và các tỉnh, tùy từng trường hợp mà chúng tôi sẽ thông báo đến Quý khách thời gian giao và nhận hàng cụ thể (không quá 48 tiếng kể từ lúc xác nhận đơn hàng.)</p><br />
<p class="col-lg-12">Trong một số trường hợp khách quan Công ty có thể giao hàng chậm trễ do những điều kiện bất khả kháng như thời tiết xấu, điều kiện giao thông không thuận lợi, xe hỏng hóc trên đường giao hàng, trục trặc trong quá trình xuất hàng.</p><br />
<p class="col-lg-12">Trong thời gian chờ đợi nhận hàng, Quý khách có bất cứ thắc mắc gì về thông tin vận chuyển xin vui lòng liên hệ hotline của chúng tôi để nhận trợ giúp.</p><br />
<h4>4. TRÁCH NHIỆM VỚI HÀNG HÓA VẬN CHUYỂN </h4>
<p class="col-lg-12">Công ty sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận chuyển hàng từ kho hàng chúng tôi đến quý khách.</p><br />

<p class="col-lg-12">Quý khách có trách nhiệm kiểm tra hàng hóa khi nhận hàng. Khi phát hiện hàng hóa bị hư hại, trầy xước, bể vỡ, mốp méo, hoặc sai hàng hóa thì ký xác nhận tình trạng hàng hóa với Nhân viên giao nhận và thông báo ngay cho Bộ phận chăm sóc khách hàng theo số hotline của Công ty. </p>
<p class="col-lg-12">Sau khi qúy khách đã ký nhận hàng mà không ghi chú hoặc có ý kiến về hàng hóa. Công ty không có trách nhiệm với những yêu cầu đổi trả vì hư hỏng, trầy xước, bể vỡ, mốp méo, sai hàng hóa,… từ quý khách sau này. </p>
<p class="col-lg-12">Nếu dịch vụ vận chuyển do quý khách chỉ định và lựa chọn thì quý khách sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận chuyển hàng từ kho hàng của công ty đến quý khách. Khách hàng sẽ chịu trách nhiệm cước phí và tổn thất liên quan. </p>




<div class="pull-right"><strong>CÔNG TY TNHH TM TUẤN GIA MINH <br /> Thời gian cập nhật: 12/06/2016</strong> </div>
@section RightContent{

    @{
        Html.RenderAction("VerticalSlider", "Partial", new { _title = "Sản phẩm mới", _type = "New", _supplier_id = 0 });
    }

}