@{
    if (Session["SUPPLIER"].ToString().Equals("MAKITA"))
    {
        <style>
            #Main-Menu, #vgc_bc_off, .vgc_control_send {
                background-color: #018A9C !important;
            }
            #vgc_bc_off {
                border-color: #018A9C !important;
            }
            #Register .btn {
                color: white !important;
            }
        </style>
    }
    else if (Session["SUPPLIER"].ToString().Equals("BOSCH"))
    {
        <style>
            #Main-Menu, #vgc_bc_off, .vgc_control_send {
                background-color: #013B69 !important;
            }
            #vgc_bc_off {
                border-color: #013B69 !important;
            }
            #Register .btn {
                color: white !important;
            }
        </style>
    }
    else
    {
            <style>
                #vgc_bc_off {
                    background-color: #30454A !important;
                    border-color: #30454A !important;
                }
    </style>
    }
}
<div class="container">
    <!-- LOGO-->
    <div id="Logo">
        <a href=""><img src="~/Content/Page_Layout/img/logo.png" alt="LOGO"></a>
    </div>
    <div id="btnHome">
        <a href="@Url.Action("Index", "Home")"><button class="btn" data-toggle="tooltip" title="Trang chủ VietNamTool"  data-placement="bottom"><span class="glyphicon glyphicon-home"></span></button></a>
    </div>
    <!-- SEARCH BOX-->
    <form role="form" method="post" action="@Url.Action("Search", "Product")">
        <div class="search input-group" role="search" id="Search">
            <input type="text" class="form-control" name="txtKeySearch" required maxlength="50" placeholder="Nhập tên sản phẩm hoặc mã sản phẩm..." />
            <span class="input-group-btn">
                <button id="btnSearch" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="sr-only">Search</span>
                </button>
            </span>
        </div>
    </form>

    <!-- SHOPPING CART-->
    <div id="Shopping-Cart">
        @Html.Partial("~/Views/Partial/ShoppingCart.cshtml")
    </div>
    <!-- REGISTER & LOGIN-->
    <div id="Register">
        @Html.Partial("~/Views/User/Login.cshtml")
    </div>
</div>