<a id="btnOpenShoppingCart" href="@Url.Action("ShoppingCart", "ShoppingCart")" class="btn" data-toggle="tooltip" data-placement="bottom" title="Giỏ hàng"><span class="glyphicon glyphicon-shopping-cart"></span> <span id="numProduct" class="items">0</span></a>

<script>
    $(function () {
        $.ajax({
            url: '/ShoppingCart/GetTotalQuantity',
            dataType: "html",
            type: "POST",
            contentType: 'application/html; charset=utf-8',
            success: function (data) {
                $("#numProduct").html(data)
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    });
</script>