@model TGMCO.Models.SUPPLIER

@{
    ViewBag.Title = "Create a new supplier";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Page_Header {
    <h1>
        QUẢN LÝ NHÀ CUNG CẤP
        <small>THÊM MỚI</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="Admin/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="Admin/ManagingSuppliers"><i class="fa fa-angle-down"></i> ManagingSuppliers</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

