@{
    ViewBag.Title = "ManagingAgencies";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ManagingAgencies</h2>
Mày làm phần này trước đi, đọc database rồi xem mấy page khác của t làm trước đi